@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  font-weight: normal;
  font-family: 'Work Sans', sans-serif;
}

a,
.red-brown {
  font-size: 1.3rem;
  text-decoration: none;
  color: #7A0026;
  transition: 0.4s;
  padding: 3px;
  font-weight: 700;
}

@media (hover: hover) {
  a:hover {
    color: #660025;
  }
}

body {
  display: flex;
  place-items: center;
  justify-items: center;
  align-items: center;
}

